            img{
            background-color: blue;
            padding-left: 300px;
        }
        .profileImage{
            height: 180px;
            width: 180px;
            padding: 2rem;
            
            margin-left: 75%;
            background: #fff;
            

        }
    
    